*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Container{
  max-width:90%;
  margin: 0px ;
}
.mainDiv{
  margin: 10px 10px;
}
.mainDiv h1{
  color: rgb(43, 36, 36);
  font-size: 16px;
}
.immediateActionText{
  width: 100px;
}

.thead{
  background-color: brown;
  color: white;
  align-items: center;
}
.tableDetails{
  font-size: 14px;
}
.multiButton{
  display:grid;
  gap: 5px;
}
.modalfade{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px; 
  max-height: 100px; 
  z-index: 1050;
}
.model-body{
  text-align:center;
}
.modal-content{
  width: 100%;
  box-shadow: 2px 4px 5px;
  bottom: 120px;
}
.modal-header h5{
  font-size: 15px;
  color: black;
  text-align: left;
}
.model-body h6,p{
  font-size: 12px;
  color: black;
}
.tableDetails,.table,thead{
  vertical-align:middle !important;
}
.multiButton button{
  width:150px
}